@charset "UTF-8";
// 定义字体
@font-face {
  font-family: "YouSheBiaoTiHei";
  src: url('~@/assets/font/YouSheBiaoTiHei.ttf');   // 注意这里的路径
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Oswald-Regular";
  src: url('~@/assets/font/Oswald-Regular.ttf');   // 注意这里的路径
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PangMenZhengDao";
  src: url('~@/assets/font/PangMenZhengDao.ttf');   // 注意这里的路径
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Adobe Heiti Std";
  src: url('~@/assets/font/Adobe Heiti Std.otf');   // 注意这里的路径
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Source Han Sans CN";
  src: url('~@/assets/font/SourceHanSansCN-Regular.otf');   // 注意这里的路径
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DIN";
  src: url('~@/assets/font/DIN-Black.otf');   // 注意这里的路径
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HWHK";
  src: url('~@/assets/font/HWHK.ttf');   // 注意这里的路径
  font-weight: normal;
  font-style: normal;
}

